<div class="row">
  <div class="col-md-3 col-sm-6 mb-4" *ngFor="let product of Products">
    <div class="card h-100 text-center">
      <img [src]="product.image" class="card-img-top p-3" alt="{{product.title}}">
      <div class="card-body">
        <h6 class="card-title">{{ product.title }}</h6>
        <p class="text-danger fw-bold">₹ {{ product.price }}</p>
        <button class="btn btn-primary btn-sm" [routerLink]="['/product-detail', product.id]">Buy now</button>
      </div>
    </div>
  </div>
</div>
