<div class="container mt-4">
  <h2>Available Products</h2>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let product of Products">
      <div class="card h-100">
        <img
          *ngIf="product.ProductImage?.length"
          [src]="'https://localhost:7218' + (product.ProductImage && product.ProductImage[0].ImageUrl ? product.ProductImage[0].ImageUrl : '')"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="fw-bold">₹ {{ product.price }}</p>
        </div>
        <div class="d-flex justify-content-between align-items-center p-3">
          <button class="btn btn-primary" (click)="editProduct(product.ProductId)">Edit</button>
          <button class="btn btn-secondary" (click)="deleteProduct(product.ProductId)">Delete</button>
      </div>
    </div>
  </div>
</div>
